/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --space-defalt: 70px;
}

body{
    height:100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-defalt);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}

header{
    height: 48px;
}

.logo {
    margin-left: var(--space-defalt);
    display:flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size:2rem;
    font-family: 'Righteous', cursive;
}

main{  
    flex-grow:1;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    margin-right:var(--space-defalt);
    margin-left: var(--space-defalt);
    margin: 0px var(--space-defalt);

}

.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.title{
    position: relative;
    grid-column: 1/-1;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__text{
    font-size: 20vw;
    color: white;
}

.title__transparent{
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    color: #FFFFFF33;
}

.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secundary-color);
}

.description__title {
    font-size: 4rem; 
}

.description__text{
font-size: 1.2rem;
width: 500px;
}

.action{
    grid-column: 7/-1;
    color: white;
    background-color: var(--secundary-color);
    place-self: center end;
    height: 100px;
    width: 411px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-decoration: none;
}

footer{
    color: white;
    text-align: center;
}

/* tablet */
@media (max-width:960px){

    :root{
        --space-defalt: 30px;
    }
    main{  
        grid-template-columns: 1fr;
    }
    .pikachu-image{
        transform: translate(-50%, -60%);
    }
    .title{
        place-self: start center;
    }
    .description{
        grid-row: 2;
        grid-column: 1;
        place-self: center;
        text-align: center;
    }
    .action{
        grid-row: 2;
        grid-column: 1;
        place-self: end center;
    }
    
    footer{
        display: none;
    }

   
}
/*celular*/
@media (max-width:640px){

    .pikachu-image{
    width: 90vw;
    transform: translate(-50%,-50%);
    }
    .title{
        transform: translateY(30%);
    }
    .description__text{
        display: none;
    }
    .description__title{
        font-size: 10vw;
    }
    .action{
        width: 100%;
    }
}
